<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Import Report</h2>
</div>


<div>
  <%= @nb_imported_movements %> movements have been imported.

  <% unless @errors.empty?  %>
    <hr>
    <h3><%= @errors.count %> movements have not been imported</h3>
    <ul>
      <% @errors.each do |movement| %>
        <li>
          #<%= movement.number %>,
          <%= format_date(movement.date) %>,
          <%= movement.amount %>,
          <%= movement.communication %> 
        </li>
      <% end %>
    </ul>
<% end %>
</div>
