<tr>
  <td>
    <%= link_to format_date(movement.date), edit_admin_movement_path(movement) %>
  </td>
  <td><%= movement.number %></td>
  <td><%= movement.amount %></td>
  <td><%= movement.iban %></td>
  <td><%= movement.label %></td>
  <td><%= truncate(movement.communication, length: 200) %></td>
</tr>
