<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Movements (<%= @movements.count %>)</h2>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= year %>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <% years.each do |year| %>
      <a class="dropdown-item" href="#"><%= year %></a>
    <% end %>
    </div>
  </div>
</div>

<h2>Unknown (<%= @unknown_movements.count %>)</h2>
<table class="table table-striped table-sm">
  <%= render partial: "headers" %>
  <%= render partial: "movement", collection: @unknown_movements %>
</table>

<h2>No IBAN (<%= @no_iban_movements.count %>)</h2>
<table class="table table-striped table-sm">
  <%= render partial: "headers" %>
  <%= render partial: "movement", collection: @no_iban_movements %>
</table>

<h2>All</h2>
<table class="table table-striped table-sm">
  <%= render partial: "headers" %>
  <%= render partial: "movement", collection: @movements %>
</table>
