<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= root_path %>">Neutrinet Accounting</a>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <% if session[:admin] %>
        <ul class="navbar-nav mr-auto">
          <%
              active = controller.is_a?(Admin::MovementsController) ? "active" : ""
          %>
          <li class="nav-item <%= active %>">
            <a class="nav-link" href="<%= admin_movements_path %>">Movements</a>
          </li>
          <%
              active = controller.is_a?(Admin::ImportsController) ? "active" : ""
          %>
          <li class="nav-item <%= active %>">
            <a class="nav-link" href="<%= new_admin_imports_path %>">Imports</a>
          </li>
        </ul>
        <% end %>
      </div>
    </nav>

    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
